{% extends 'home.html'%}


{% block content %}

    <div id="page-content-wrapper">
        <div class="row no-left-margin">
            <div class="section-wrapper">
                <div class="insights-green">
                    <h3 class="no-pad">Title</h3>
                    <p>para</p>
                </div>

            </div>
            <div class="section-wrapper">
                <h1 >Title</h1>
            </div>

            <div class="half-section-wrapper">
                <p> THIS is paragraph. THIS is paragraph THIS is paragraph THIS is paragraph THIS is paragraphhhhh</p>
                <p> THIS is paragraph. THIS is paragraph THIS is paragraph THIS is paragraph THIS is paragraphhhhh</p>
                <p> THIS is paragraph. THIS is paragraph THIS is paragraph THIS is paragraph THIS is paragraphhhhh</p>
            </div>
            <div class="half-section-wrapper">
                <p> THIS is paragraph. THIS is paragraph THIS is paragraph THIS is paragraph THIS is paragraphhhhh</p>
                <p> THIS is paragraph. THIS is paragraph THIS is paragraph THIS is paragraph THIS is paragraphhhhh</p>
                <p> THIS is paragraph. THIS is paragraph THIS is paragraph THIS is paragraph THIS is paragraphhhhh</p>
                <p> THIS is paragraph. THIS is paragraph THIS is paragraph THIS is paragraph THIS is paragraphhhhh</p>

            </div>

            <div class="half-section-wrapper">
                <p> THIS is paragraph. THIS is paragraph THIS is paragraph THIS is paragraph THIS is paragraphhhhh</p>
                <p> THIS is paragraph. THIS is paragraph THIS is paragraph THIS is paragraph THIS is paragraphhhhh</p>
                <p> THIS is paragraph. THIS is paragraph THIS is paragraph THIS is paragraph THIS is paragraphhhhh</p>
            </div>
            <div class="half-section-wrapper">
                <p> THIS is paragraph. THIS is paragraph THIS is paragraph THIS is paragraph THIS is paragraphhhhh</p>
                <p> THIS is paragraph. THIS is paragraph THIS is paragraph THIS is paragraph THIS is paragraphhhhh</p>
                <p> THIS is paragraph. THIS is paragraph THIS is paragraph THIS is paragraph THIS is paragraphhhhh</p>
            </div>
        </div>
    </div>


{% endblock %}
