{% extends 'home.html' %}

{% block content %}

    {% if added %}
                <script>alert("Document Edited")</script>
            {% endif %}

<div id="page-content-wrapper">
    <div class="section-wrapper">
        <h3 class="text-center"> Document List</h3>
    </div>
    <div class="section-wrapper">
        <table class="table table-responsive">
            <thead>
            <tr>

                <th>Title</th>
                <th>Date</th>
{#                <th>Diabled Category</th>#}
                <th>Document Category</th>
                <th>Description</th>
{#                                <th>File info</th>#}

                <th>Action</th>
                <th></th>
            </tr>
            </thead>

                {% for documents in document %}

                    <tbody>
                    <tr>
                        <td>{{ documents.title }}</td>
                        <td>{{ documents.date }}</td>
{#                        <td>{{ documents.category }}</td>#}
                        <td>{{ documents.doc_category }}</td>
                        <td>{{ documents.description }}</td>
{#                                                <td> <a href="{{ documents.document}}">{{ documents.document}}</a> </td>#}



                        <td>
{#                            <div class="btn-group">#}
{#                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"#}
{#                                        aria-haspopup="true" aria-expanded="false">#}
{#                                    Action#}
{#                                </button>#}
{#                                <div class="dropdown-menu">#}
{#                                    <a class="dropdown-item" href="{% url 'document_edit' pk=documents.pk %}">Edit</a>#}
{##}
{#                                    <a class="dropdown-item" href="{% url 'document_delete' pk=documents.pk %}"#}
{#                                       onclick="return confirm('Are you sure?')">Delete</a>#}
{##}
{#                                </div>#}
{#                            </div>#}

                            <div class="btn-group">
                                <button type="button" class="btn btn-secondary" data-toggle="dropdown">
                                    Action <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{% url 'document_edit' pk=documents.pk %}">Edit</a></li>
                                    <li><a href="{% url 'document_delete' pk=documents.pk %}" onclick="return confirm('Are you sure?')">Delete</a></li>
                                </ul>
                            </div>

                        </td>


                    </tr>
                    </tbody>

                {% endfor %}

        </table>

    {% if document.has_other_pages %}
  <ul class="pagination">
    {% if document.has_previous %}
      <li><a href="?page={{ document.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in document.paginator.page_range %}
      {% if document.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if document.has_next %}
      <li><a href="?page={{ document.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

</div>
</div>

{% endblock %}


