{% extends 'home.html' %}

{% block content %}
<div id="page-content-wrapper">
    <div class="section-wrapper">
        <h3 class="text-center"> Disable Category List</h3>
    </div>
    <div class="section-wrapper">
        <table class="table table-responsive">
            <thead>
            <tr>

                <th>Category</th>
                <th>Action</th>


            </tr>
            </thead>


                {% for cat_list in cat_list %}

                    <tbody>
                    <tr>
                        <td>{{ cat_list.new_category }}</td>




                        <td>
                            <div class="button">
{#                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"#}
{#                                        aria-haspopup="true" aria-expanded="false">#}
{#                                    Action#}
{#                                </button>#}
{#                                <button class="btn btn-secondary dropdown-toggle" data-toogle="dropdown" aria-haspopup="true" aria-expanded="false" >#}

{#                                    <a class="dropdown-item" href="{% url 'edit_category' pk=catlist.pk %}">Edit</a>#}
                                    <a href="{% url 'delete_category' pk=cat_list.pk %}"
                                       onclick="return confirm('Are you sure?')"><button type="button" class="btn btn-danger">Delete</button></a>
{#                                </button>#}
                            </div>
                        </td>


                    </tr>
                    </tbody>

                {% endfor %}

        </table>

</div>
</div>

{% endblock %}]